# Python bytecode
__pycache__/
*.py[cod]

# Flask-related
instance/
.env
*.env
config.py

# Virtual environment
venv/
ENV/
env/
.venv/

# Editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs and DB
*.log
*.sqlite3
*.db

# Scripts and uploads
scripts/

# Migrations
migrations/
